*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* browser default font-size is 16px */
    font-size: 62.5%; /* 10 / 16 = 62.5% or .625 * 10 = 16px */
}

body {
    box-sizing: border-box;
}